
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.areanome h1  {
    font-size: 1.55em;
    font-weight: 500;
}

hr {
    width: 100%;
}

form hr {
    width: 53%;
}

fieldset {
    border: 0;
}

body {
    background-color: #0D0628;
    font-size: 0.9em;
    margin-left: 33.5%;
    margin-top: 2%;
    justify-content: center;
    color: #FDFFFC;
}

input, select, button {
    color: #011627;
    border-radius: 8px;

}
.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #FDFFFC;
    display: block;
}

fieldset.grupo {
    margin-top: 1%;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 4em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo input[type="date"] {
    padding: 0.15em;
    border: 1px solid #F9DBBD;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 112%;
}


.campo input:focus, select:focus {
    background: #FDFFFC;
}

#botao {
    font-size: 1.2em;
    background: #DA627D;
    border: none;
    margin-bottom: 1em;
    color: #FFFF;
    padding: 0.2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-left: 7em;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 12%;

}

#botao:hover {
    background: #E63462;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    transition: 500ms;
}

