*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.areanome h1  {
    font-size: 3em;
    font-weight: 500;
}

hr {
    width: 100%;
}

form hr {
    width: 53%;
}

fieldset {
    border: 0;
}

body {
    background-color: #0D0628;
    font-size: 0.9em;
    margin-left: 33.5%;
    margin-top: 2%;
    justify-content: center;
    color: #FDFFFC;
}

input, select, button {
    color: #011627;
    border-radius: 8px;

}
.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #FDFFFC;
    display: block;
}

fieldset.grupo {
    margin-top: 1%;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 4em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo input[type="date"] {
    padding: 0.3em;
    border: 1px solid #F9DBBD;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 112%;
}


.campo input:focus, select:focus {
    background: #FDFFFC;
}

#botao {
    font-size: 1.4em;
    background: #DA627D;
    border: none;
    margin-bottom: 1em;
    color: #FFFF;
    padding: 0.2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-left: 7em;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 12%;

}

#botao:hover {
    background: #E63462;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    transition: 500ms;
}

@media only screen and (max-width: 380px) {
    #botao {
        margin-left: 3.5em;
        width: 30%;
    }

    body {
        margin-left: 18%;
        margin-top: 2%;
    }

    .areanome h1  {
        font-size: 1.5em;
        font-weight: 500;
    }

    hr {
        width: 100%;
    }
    
    form hr {
        width: 75%;
    }

}

@media only screen and (min-width: 361px) and (max-width: 480px) {

    #botao {
        margin-left: 4em;
        width: 28%;
    }

    body {
        margin-left: 18%;
        margin-top: 2%;
    }

    .areanome h1  {
        font-size: 1.8em;
        font-weight: 500;
    }

    hr {
        width: 130%;
    }
    
    form hr {
        width: 80%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
